#page_heading
	{
		color: blue;
		
	}
td
	{
		text-align:center;
	}
th
	{
		color:white;
		border-color:black;
	}

	body {
		background-image: url('https://img.freepik.com/premium-photo/business-finance-investment-background_158043-242.jpg?w=740');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}